.burger__constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  padding-bottom: 20px;
  color: var(--text-primary-color);
}

.cards__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cards__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards__container_filling {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 35vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

.summury_container {
  display: flex;
  justify-content: right;
  margin: auto 0 0;
  padding-right: 24px;
}

.summury__price_container {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.summury__price {
  margin: auto 10px auto auto;
  font-weight: 400;
  font-size: 48px;
  font-style: normal;
  line-height: 36px;
}

.summury__currency_ico {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}
